$portalResourceManager.requireResourcesForContext("nsys.portal.admin")

<section class="admin-section">
	<h3>$!{gadget.displayName}</h3>
	<ul class="overview-links">
		<li>
			<a href="/demo" id="nsys_org-tweets-link" title="Shows user timeline.">Nsys Platform</a>
			<span class="description">Shows user timeline.</span>
		</li>
		<li>
			<a href="/plugins/nsys-demo/demo/tweets/Tomas_Hrdlicka" id="xboot-tweets-link" title="Shows user timeline.">Tomas "Xboot" Hrdlicka</a>
			<span class="description">Shows user timeline.</span>
		</li>
	</ul>
</section>